/* course section */

.courses,.paper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.course-container {
    /* width: 980px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-container .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.course-container .cards .card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: .2s;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.course-container .cards .card:hover {
    transform: translateY(-2px);
}

.course-container .cards .card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.course-container .cards .card .more-detail-course {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.course-container .cards .card .more-detail-course:hover .more-detail-course-arrow{
    margin-left: .6rem;

}

.course-container .cards .card .more-detail-course .more-detail-course-arrow {
    
    padding-top: .3rem;
    margin-left: .2rem;
    transition: .2s;
}

.course-container .cards .card .card-content {
    padding: 0.5rem 1rem;
}

.course-container .cards .card .detail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-container .cards .card .detail-top .athor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-container .cards .card .detail-top .athor p {
    margin-bottom: 0;
    margin-left: .5rem;
}

.course-container .cards .card .detail-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.course-container .cards .card .detail-bottom .students-count {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.course-container .cards .card .detail-bottom .students-count p {
    margin-bottom: 0;
    margin-left: .5rem;

}