.course .breadcrumb {
    background-color: #E1FFEE;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    gap: 50px;
    
}

.course .breadcrumb 
.breadcrumb-item {
    position: relative;
    font-size: 16px;
    
}

.course .breadcrumb
.breadcrumb-item::before {
    width: 5px;
    height: 32px;
    background-color: #fff;
    content: " ";
    position: absolute;
    right: -20px;
    bottom: -15px;
    transform: rotate(45deg);
    
}


.course .breadcrumb
.breadcrumb-item::after {
    width: 5px;
    height: 32px;
    background-color: #fff;
    content: " ";
    position: absolute;
    right: -20px;
    top: -15px;
    transform: rotate(-45deg);
}

.course .breadcrumb
.breadcrumb-item:last-child::after,
.course .breadcrumb
.breadcrumb-item:last-child::before {
    display: none;
}

.course .breadcrumb 
.breadcrumb-item .breadcrumb-link p {
    margin-bottom: 0;
    
}


.course-info .course-info-video{
    width: 95%;
    height: 400px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .course-info .course-info-content {
    margin: 10px 20px;
    /* max-width: 500px; */
  }
  
  .course-info .course-info-content .course-badges{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }
  
  .course-info .course-info-content 
  .course-badges .course-badge {
    border-radius: 5px;
    background-color: #E1FFEE;
    color: var(--primary-color);
    padding: 3px 8px;
    font-size: 11px;
    font-weight: 500;
  }
  
  .course-info .course-info-content 
  .course-badges .html-badge {
    background-color: #f0652948;
    color: #f06529;
  }
  
  .course-info .course-info-content 
  .course-badges .css-badge {
    background-color: #2965f14d;
    color: #2965f1;
    
  }
  
  .course-info .course-info-content
  .course-title {
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0;
  }
  
  
  .course-info .course-info-content
  .course-desc {
    font-size: 14px;
  }

  .course-info .course-info-content
  .course-info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-left {
    max-width: 500px;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-right {
    background-color: #E1FFEE;
    padding: 20px;
    border-radius: 30px;
    font-size: 16px;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-right .row1 {
    background-color: #09b45063;
    padding: 10px 20px 10px 5px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-right 
  .row1 h5 {
    font-size: 18px;
    font-weight: 600;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-right .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-right 
  .row2 .sub-row2{
    background-color: #09b45063;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-right 
  .row2 .sub-row2 .sub-row2-icon {
    padding-top: 5px;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-right 
  .row2 .sub-row2 span {
    font-weight: 500;
  }

  .course-info .course-info-content
  .course-info-box .course-info-box-right img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

