.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    /* max-width: 100%; */
  }
  
  .features-container .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    font-size: 13px;
    font-weight: 500;
    width: 1280px;
  }
  
  .features-container .items .feature-icon-container {
    padding-right: 10px;
    width: 35px;
    height: 35px;
    font-size: 15px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0;
    margin-right: 10px;
  }
  
  .features-container .items .item {
    display: flex;
    align-items: end;
    background-color: #DDFFFF;
    padding: 6px 15px;
    border-radius: 5px;
  
  }