.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    /* max-width: 1280px; */
    /* margin: 0 auto; */
}

.header  .menu-bar {
    display: none;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .logo img {
    width: 132px;
    height: 41px;
}

.header .navigation {
    font-size: 16px;
    font-weight: 500;
}

.header .navigation .nav-items {
    display: flex;
    margin: 20px;
    gap: 42px;
}

.header .navigation .nav-items .nav-item {
    cursor: pointer;
    transition: 0.2s;
}

.header .navigation .nav-items .nav-item:hover {
    color: var(--primary-color);
}

.header .navigation .nav-items
.courses-nav-sec {
    position: relative;
}

.header .navigation .nav-items
.courses-nav-sec:hover .courses-items {
    display: block;
}

.header .navigation .nav-items .nav-item
.courses-items {
    position: absolute;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border-radius: 5px;
    font-size: 13px;
    top: 30px;
    right: -10px;
    margin: 0;
    padding: 0;
    display: none;
}

.header .navigation .nav-items .nav-item
.courses-items .courses-item {
    color: #000;
    cursor: pointer;
    padding: 8px 15px;
}

.header .navigation .nav-items .nav-item
.courses-items .courses-item:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.header .navigation .nav-items .nav-item
.courses-items .courses-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header .navigation .nav-items .nav-item
.courses-items .courses-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header .entrance {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .entrance .search-icon{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.header .entrance .btn {
    width: 75px;
    height: 36px;
    font-size: 14px;
    background-color: var(--btn-primary-color);
    color: #fff;
    border: none;
}

.header .entrance .login-btn {
    background-color: var(--btn-secondary-color);
    color: var(--primary-color);
}

.header .entrance .register-btn-user {
    display: none;
}