/* land section */
.land {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(30, 131, 240, 0.2)), url(../assets/land-bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.land .container {
    width: 980px;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.land-title {
    text-align: center;
    font-size: 5rem;
    margin: 2rem 0;
    height: 60px;
    font-weight: 800;
}

.land-desc {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;

}

.land-search {
    background-color: var(--secondary-color);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: .2rem;
    border-radius: .8rem;
    margin: 4rem 0;
}

.land-search .land-search-input {
    width: 100%;
    padding: 1rem .4rem;
    margin-left: 0.5rem;
    border: none;
    border-radius: .8rem;
    font-size: 1.5rem;

}

.land-search .land-search-input::placeholder {
    font-size: 2rem;
    padding-left: 0.2rem;
}

.land-search .land-search-btn {
    border: none;
    background-color: var(--primary-color);
    border-radius: .8rem;
    width: 5rem;
    height: 5rem;
}

.land-search .land-search-btn .search-btn-icon {
    font-size: 2rem;
    color: var(--secondary-text-color);
}

.website-have {
    width: 80%;
}

.website-have .website-have-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.website-have .website-have-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

.website-have .website-have-item .time-svg,
 .book-svg,
.graduation-svg {
    font-size: 5rem;
}