/* popular section */
.popular .header .container {
    width: 980px;
    padding: 3rem 0;
}

.popular .header .container .content {
    display: flex;
    justify-content: start;
    align-items: center;
}


.popular .header .container .content .new-courses-left-side {
    font-size: 1.5rem;
    display: flex;
}

.popular .header .container .content .italic-line {
    width: 0.5rem;
    height: 5rem;
    background-color: var(--primary-color);
    border-radius: 20px;
    transform: rotate(-5deg);
    user-select: none;
}

.popular .header .container 
.content .popular-content {
    padding-left: 0.5rem;
}


.swiper-popular-boxes .swiper-wrapper .swiper-slide {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.swiper-popular-boxes .swiper-wrapper .swiper-slide img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .more-detail-course {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .more-detail-course:hover .more-detail-course-arrow{
    margin-left: .6rem;

}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .more-detail-course .more-detail-course-arrow {
    
    padding-top: .3rem;
    margin-left: .2rem;
    transition: .2s;
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .swiper-content {
    padding: 0.5rem 1rem;
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .detail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .detail-top .athor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .detail-top .athor p {
    margin-bottom: 0;
    margin-left: .5rem;
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .detail-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .detail-bottom .students-count {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.swiper-popular-boxes .swiper-wrapper .swiper-slide .detail-bottom .students-count p {
    margin-bottom: 0;
    margin-left: .5rem;

}