/* descktops */
@media (max-width: 1200px) {

}
/* laptops */
@media (max-width: 1024px) {
    .header .logo img{
        width: 112px;
        height: 31px;
    }
    .header .navigation {
        font-size: 12px;
    }
    .header .entrance .search-icon {
        width: 14px;
        height: 14px;
    }
    .header .entrance .btn {
        width: 65px;
        height: 26px;
        font-size: 12px;
    }
    

}
/* tablets */
@media (max-width: 768px) {
    .header .entrance .search-icon {
        display: none;
    }
    .header .entrance .login-btn,
    .header .entrance .register-btn {
        display: none;
    }
    .header .navigation .nav-items {
        gap: 10px;
    }
    .header .entrance .register-btn-user  {
        display: block;
        width: 32px;
        height: 32px;
        border: var(--btn-primary-color) solid 2px;
        border-radius: 100%;
        background-color: transparent;
        color: #000;
    }
    .header .entrance .register-btn-user .user-icon {
        font-size: 14.5px;
    }
}
/* mobile */
@media (max-width: 520px) {
    .header .menu-bar {
        display: block;
        font-size: large;
        cursor: pointer;
    }
    .header .navigation {
        display: none;
    }
}