/* descktops */
@media (max-width: 1400px) {
    
    .popular-courses-boxes .popular-courses-box,
    .swiper .swiper-wrapper 
    .popular-courses-box {
        max-width: 300px;
    }
    .popular-courses-boxes .popular-courses-box img,
    .swiper .swiper-wrapper 
    .popular-courses-box img {
        max-width: 300px;
        object-fit: cover;
    }

    /* .swiper .swiper-wrapper 
    .popular-courses-box img {
        width: 300px;
    } */
}
/* laptops */
@media (max-width: 1024px) {
    .header .logo img{
        width: 112px;
        height: 31px;
    }
    .header .navigation {
        font-size: 12px;
    }
    .header .entrance .search-icon {
        width: 14px;
        height: 14px;
    }
    .header .entrance .btn {
        width: 65px;
        height: 26px;
        font-size: 12px;
    }
    .banner .container {
        flex-direction: column;
        gap: 60px;
    }
    .features-container .items {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .popular-courses-boxes {
        grid-template-columns: 1fr 1fr;
    }
    .swiper .swiper-wrapper 
    .popular-courses-box {
      margin: 10px;
    }
    
    .wishool-life 
    .wishool-life-container 
    .wishool-life-left-sec img {
        width: 342px;
        height: 411.43;
    }

    .wishool-life 
    .wishool-life-container 
    .wishool-life-right-sec h3 {
        font-size: 32px;
    }
    .wishool-life .wishool-life-container {
        flex-direction: column;
    }

    .reviews .reviews-left-sec h4 {
        font-size: 32px;
        max-width: 300px;

    }

}
/* tablets */
@media (max-width: 768px) {
    .header .entrance .search-icon {
        display: none;
    }
    .header .entrance .login-btn,
    .header .entrance .register-btn {
        display: none;
    }
    .header .navigation {
        display: none;
    }
    .header .navigation .nav-items {
        gap: 10px;
    }
    .header .entrance .register-btn-user  {
        display: block;
        width: 32px;
        height: 32px;
        border: var(--btn-primary-color) solid 2px;
        border-radius: 100%;
        background-color: transparent;
        color: #000;
    }
    .header .entrance .register-btn-user .user-icon {
        font-size: 14.5px;
    }

    .banner .slogan h1 {
        font-size: 38px;
    }

    .information .banner-bg-container img {
        width: 260px;
        height: 306.5px;
    }
    .banner .information .banner-cm {
        width: 200px;
        height: 135px;
    }
    .banner .banner-students {
        width: 100px;
        height: 147px;
    }
    .banner .banner-students .banner-user-icon-bg {
        width: 30px;
        height: 30px;
    }
    .banner .banner-students .banner-user-icon {
        font-size: 13px;
    }
    .banner .banner-students span {
        font-size: 25px;
    }
    .banner .banner-students p {
        font-size: 11px;
    }
    .banner .information .banner-right-shape {
        height: 360px;
    }
    .features-container .items {
        grid-template-columns: 1fr 1fr;
    }
    .header .menu-bar {
        display: block;
        font-size: large;
        cursor: pointer;
    }

    .popular-courses-boxes {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        
    }
    .popular-courses-boxes .popular-courses-box {
        width: 391px;
    }
    .popular-courses-boxes .popular-courses-box img {
        width: 391px;
    }
    .wishool-life 
    .wishool-life-container 
    .wishool-life-left-sec 
    .job-opportunities-box {
        width: 109px;
        height: 126px;
        right: -20px;
    }

    .wishool-life 
    .wishool-life-container 
    .wishool-life-left-sec 
    .job-opportunities-box .cart-bg {
        width: 31px;
        height: 31px;
        font-size: 12px;
    }
    .wishool-life 
    .wishool-life-container 
    .wishool-life-left-sec 
    .job-opportunities-box
    .text-green-job {
        font-size: 28px;
    }
    .wishool-life 
    .wishool-life-container 
    .wishool-life-right-sec
    .wishool-life-profits {
        font-size: 12px;
    }
    .wishool-life 
    .wishool-life-container 
    .wishool-life-right-sec
    .wishool-life-profits 
    .wishool-life-profit .wishool-icon-bg {
        width: 35px;
        height: 35px;
    }
    .wishool-life 
    .wishool-life-container 
    .wishool-life-right-sec
    .wishool-life-profits 
    .wishool-life-profit .wishool-icon {
        font-size: 14px;
    }
    .reviews {
        flex-direction: column;
        gap: 30px;
    }
    .reviews .reviews-left-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .reviews .reviews-left-sec 
    .scroll-handle {
        display: flex;
    }
    .reviews .reviews-right-sec .comment-slide {
        width: 320px;
        height: 202px;
    }

    .reviews .reviews-right-sec {
        margin-left: 180px;
    }

    .reviews .reviews-right-sec
    .comment-slide .comment-box-main {
        font-size: 12px;
    }
    .reviews .reviews-right-sec
    .comment-slide .comment-box-main p {
        width: 270px;
    }
}
/* mobile */
@media (max-width: 520px) {
    .banner .slogan h1 {
        font-size: 32px;
        line-height: 50px;
        min-width: 300px;
    }
    .banner .information .banner-cm {
        left: -50px;
        bottom: 100px;
        width: 170px;
        height: 105px;
    }
    .banner .information .banner-cm .banner-cm-title h3 {
        font-size: 11px;
    }
    .banner .information .banner-cm .banner-cm-avatar img {
        width: 30px;
        height: 30px;
    }
    .features-container .items {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .popular-courses-boxes .popular-courses-box {
        width: 300px;
    }
    .popular-courses-boxes .popular-courses-box img {
        width: 300px;
    }
    .wishool-life 
    .wishool-life-container 
    .wishool-life-left-sec img {
        width: 302px;
        height: 371.43;
    }
}

