@import url('./variables.css');
@import url('./fonts.css');
@import url('./topbar.css');
@import url('./navbar.css');
@import url('./land.css');
@import url('./title.css');
@import url('./newcourse.css');

/* default css */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

body a {
    text-decoration: none;
    color: var(--primary-text-color);
    transition: all 250ms ease;
    font-size: 1.5rem;
}

a:hover {
    color: var(--hover-a-color);
}

i {
    user-select: none;
}

