@import url('./variables.css');
@import url('./fonts.css');
@import url('./topbar.css');
@import url('./navbar.css');

/* default css */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

body a {
    text-decoration: none;
    color: var(--primary-text-color);
    transition: all 250ms ease;
    font-size: 1.5rem;
}

a:hover {
    color: var(--hover-a-color);
}

i {
    user-select: none;
}

/* land section */
.land {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/land-bg.jpg);
    background-size: cover;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.land .container {
    width: 768px;
    padding: 3rem 0;
}

.land-title {
    text-align: center;
    font-size: 5rem;
    margin: 2rem 0;
    height: 60px;
}

.land-desc {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;

}

.land-search {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: .2rem;
    border-radius: .8rem;
    margin: 4rem 0;
}

.land-search .land-search-input {
    width: 100%;
    padding: 1rem .2rem;
    border: none;
    border-radius: .8rem;
    font-size: 1.5rem;

}

.land-search .land-search-input::placeholder {
    font-size: 1.5rem;
}

.land-search .land-search-btn {
    border: none;
    background-color: var(--primary-color);
    border-radius: .8rem;

}

.land-search .land-search-btn .search-btn-icon {
    font-size: 2rem;
    color: var(--secondary-text-color);
}

.website-have .website-have-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.website-have .website-have-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

.website-have .website-have-item .time-svg,
 .book-svg,
.graduation-svg {
    font-size: 5rem;
}
