@import url('./variables.css');
@import url('./fonts.css');
@import url('./topbar.css');
@import url('./navbar.css');
@import url('./land.css');
@import url('./title.css');
@import url('./newcourse.css');

/* default css */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

body a {
    text-decoration: none;
    color: var(--primary-text-color);
    transition: all 250ms ease;
    font-size: 1.5rem;
}

a:hover {
    color: var(--hover-a-color);
}

i {
    user-select: none;
}


.course-container {
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-container .cards {
    display: grid;
    grid-column: auto auto auto;
}

.course-container .cards .card .card-content {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0.5rem 1rem;

}

.course-container .cards .card img{
    width: 480px;
}

.course-container .cards .card h4{
    

}

.course-container .cards .card .detail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.course-container .cards .card .detail-top .athor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-container .cards .card .detail-top .athor p {
    margin-bottom: 0;
    margin-left: .5rem;
}

.course-container .cards .card .detail-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.course-container .cards .card .detail-bottom .students-count {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.course-container .cards .card .detail-bottom .students-count p {
    margin-bottom: 0;
    margin-left: .5rem;

}