.swiper {
    max-width: 1280px;
    height: 552px;
    margin-top: 60px;
    user-select: none;
}

.swiper-wrapper .swiper-slide {
  position: relative;
}

.swiper-wrapper .swiper-slide img {
  width: 291px;
  height: 432px;
  object-fit: cover;
  filter: brightness(60%);
  border-radius: 1px;
}

.swiper-wrapper .swiper-slide p {
  padding: 10px 0;
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-color);
}

.swiper .head-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.swiper .head-category h2 {
  font-size: 24px;
}

.swiper .head-category a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.swiper-button-prev {
  --swiper-navigation-size: 35px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--primary-color);
}

.swiper-button-prev span{
  position: absolute;
  left: -9px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  z-index: -10;
  border-radius: 100%;
}

.swiper-button-next {
  --swiper-navigation-size: 35px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--primary-color);
}

.swiper-button-next span{
  position: absolute;
  right: -9px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  z-index: -10;
  border-radius: 100%;
}