/* top bar css style */
.top-bar {
    background-color: var(--primary-color);
    width: 100%;
}

.top-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-of-top-bar {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    gap: 1.5rem;
}

.top-bar-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    position: relative;
    
}

.top-bar-item a {
    color: #fff;
    font-weight: 600;
}

.top-bar-item span {
    width: 110%;
    background-color: #fff;
    height: 0%;
    z-index: 20;
    position: absolute;
    transition: 100ms ease-in;
}

.top-bar-item:hover span{
    height: 100%;
    z-index: 5;
}

.top-bar-item:hover a {
    color: var(--primary-color);
    z-index: 10;
}

.top-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.top-bar-icon {
    color: #fff;
}