:root{
    --primary-color: #09B451;
    --secondary-color: #DDFFFF;
    --light-bg-theme: #ffffff;
    --dark-bg-theme: #111827;
    --light-text-color: #000000;
    --dark-text-color: #ffffff;
    --btn-primary-color: #09B451;
    --btn-secondary-color: #ffffff;
}